body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* section party */
.party
{
    background-image: url("img/events-heavenly-header.jpg");
    background-size: 100% 100%;
    height:660px;    
}
.party .layout
{
    background-color: rgba(214, 46, 51 , 0.6);
    height:100%;
    width:100%;
    overflow: hidden;
}
.party .content h1
{
    margin-top:200px;
    font-size:60px;
    color:#fff;
}
.party .content p
{
    color:#fff;   
}
.party .menu-btn .open
{
    font-size:30px;
    color:#fff;
}
.side-menu-icon
{
    width:30px;
    height: 27px;
    margin:0 15px 0 20px;
    cursor: pointer;
}
.side-menu-icon-part
{
    background-color: #fff;
    width:100%;
    height: 4px;
    margin: 5px 0;
    border-radius: 3px;
}
.party .open{
    cursor: pointer;
}
.sidenav
{
    width:0px;
    position: fixed;
    overflow: auto;
    left:0;
    top:0;
    bottom: 0;
    background-color:#414658;
    z-index:9999;
}
.list-group-item
{
    border-top: none;    
    background-color: transparent;
}
.sidenav-links
{
    font-size:18px;
    color:#fff;
}
.list-group-item-action:hover .sidenav-links
{
    text-decoration: none;
    color:414658;
}
#close
{
    color:#fff;
}
.singer
{
    width:50%;
    margin:50px auto;
}
.singer h2{
    color:#fff;
    background-color: rgba(214, 46, 51 , 0.6);
    padding: 10px;
    font-size: 24px;
    margin: 0px;
    cursor: pointer;
}
.singer p
{
    background-color: #ccc;
    padding: 10px;    
    margin: 0;
}
/* start join us */
.join-us
{
    background-image: url("img/invitation-2508607__340.jpg");
    background-size: cover;
}
.join-us .layout
{
    background-color: rgba(214, 46, 51 , 0.6);
    width:100%;
    overflow: hidden;   
    padding: 100px 0;
}
.join-us .container .part{
    border:2px solid #fff;
    padding: 50px;
    text-align:center;
    color:#fff;
}
/* start contact */
.contact
{
    padding: 50px 0 130px;
}
.color-D62E33
{
    color:#D62E33 !important;
}
.icons
{
    margin-top:50px
}
.icon
{
    border:1px solid #000;
    padding:10px;
    margin:5px;
}
.icon:hover
{
    background-color: #D62E33;

}
.icon:hover i
{
    color:#fff;
}
#Characyer
{
    color:#D62E33;
    font-size: 20px;
}
